html{
    overflow-x : hidden;
}

body{
    background-image: url("../asset/img/bg.png");
    background-size: 100%;
    background-repeat: repeat;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

.container{
    height: 100%;
    padding: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login{
    margin: auto auto;
    background-color: white;
    border-radius: 10px;
    width: 500px;
}

.form-login p{
    font-size: 28px;
}

.form-login .form-label{
    font-size: 24px;
}

.list-materi{
    padding: 10px 0px;
    color: white;
}

.item-materi{
    text-align: center;
    padding: 0px 0px;
}

.item-materi a{
    text-decoration: none;
    color: white;
}

.item-materi h1{
    font-size: 24px;
}

.title-materi{
    font-size: 28px;
}

.center-component{
    margin: auto auto;
    background-color: white;
    text-align: center;
    padding: 60px 10px;
}

.option-menu{
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    text-decoration: none;
    color: #FFF;
    margin: 10px 0px;
    display: block;
    transition: all .3s;
    font-size: 24px;
    width: 350px;
    text-align: center;
}

.home p{
    font-size: 20px;
    color: #F0ECE3;
}

.form-login p{
    text-align: center;
}

.form-login button{
    justify-content: center;
}

.home img{
    width: 500px;
    height: 150px;
}

.component-login{
    border: 1px solid black;
}


.nilai-skor{
    font-size: 36px;
}

#belajar{
    background-color: #FABC0B;
    border: 1px solid #FABC0B;
}

#belajar:hover{
    background-color: #C8940A;
    color: #9C978B;
}

#mulai{
    background-color: #465A8F;
    border: 1px solid #465A8F;
}

#mulai:hover{
    background-color: #36436A;
    color: #9C978B;
}

#lihat-skor{
    background-color: #29BBFE;
    border: 1px solid #29BBFE;
}

#lihat-skor:hover{
    background-color: #49ADB2;
    color: #9C978B;
}

#keluar{
    background-color: #D32112;
    border: 1px solid #D32112;
}

#keluar:hover{
    background-color: #BB1A04;
    color: #9C978B;
}

.image-list{
    width: 120px;
    height: 120px;
}

.image-item{
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.item-page{
    margin: 80px 20px;
}

.description{
    font-size: 24px;
}

.image-question{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    display: block;
}

.asking{
    font-size: 24px;
}

.button-answer{
    font-size: 24px;
    display: block;
    margin: 10px 10px;
    width: 220px;
    border-radius: 10px;
    background-color: #287EAF;
    border:5px solid #57C0EB;
    transition : all .3s;
    color: white;
}

.button-answer:focus{
    outline: 0;
    border: 5px solid #57C0EB;
  }

.button-answer:hover{
    background-color: #41B2A6;
}

.button-speed button{
    font-size: 18px; 
}

.soal-container{
    margin-top: 150px;
}

.result-score{
    font-size: 28px;
    color: white;
}

.button-navigation{
    margin:0px 80px;
    text-decoration: none;
    color: #F3F9F7;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 10px;
    transition: all .3s;
}

#try-quiz{
    background-color: #0EA2FC;
    border: 1px solid #0EA2FC;
}

#try-quiz:hover{
    background-color: #1E8DAD;
    border: 1px solid #1E8DAD;
    color: #CCD1D2;
}

#back-menu{
    background-color: #F3B205;
    border: 1px solid #F3B205;
}

#back-menu:hover{
    background-color: #D39510;
    border: 1px solid #D39510;
    color: #CCD1D2;
}

.speaker-icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.stop-icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.column-button{
    display: flex;
    justify-content: center;
    padding:20px 50px;
}

.pagination{
    margin: 20px 0px;
}

.list-pagination{
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #E5E8EA;
    transition: all .3s;
}

.list-pagination:hover{
    color: #505658;
    background-color: #E5E8EA;
}

.item-per-page{
    text-align: center;
}

@media screen and (max-width:1024px){
    .form-login{
        width: 350px;
    }

    .form-login p{
        font-size: 22px;
    }

    .image-list{
        width: 120px;
        height: 120px;
    }

    .item-materi h1{
        font-size: 18px;
    }

    .list-pagination{
        font-size: 18px;
    }

    .column-button{
        padding: 50px 50px;
    }

    .description{
        font-size:22px;
    }

    .image-item{
        width: 200px;
        height: 200px;
    }

    .button-speed p{
        font-size: 22px;
    }

    .button-speed button{
        font-size: 22px;
    }

    .image-question{
        width: 250px;
        height: 250px;
    }

    .asking{
        font-size: 26px;
    }

    .button-answer{
        font-size: 20px;
    }

    .result-score{
        font-size: 22px;
    }
}

@media screen and (max-width:768px){
    .form-login p{
        font-size: 18px;
    }

    .form-login .form-label{
        font-size: 16px;
    }

    .form-login button{
        font-size: 14px;
    }

    .home img{
        width: 350px;
        height: 90px;
    }

    .home p{
        font-size: 18px;
    }

    .option-menu{
        font-size: 18px;
        width: 250px;
    }

    .title-materi{
        font-size: 20px;
    }

    .image-list{
        width: 80px;
        height: 80px;
    }

    .list-pagination{
        font-size: 12px;
    }

    .column-button{
        padding: 10px 50px;
    }

    .button-navigation{
        font-size: 12px;
    }

    .image-item{
        width: 120px;
        height: 120px;
    }

    .description{
        font-size: 16px;
    }

    .button-speed p{
        font-size: 16px;
    }

    .button-speed button{
        font-size: 16px;
    }

    .item-page h3{
        font-size: 20px;
    }

    .image-question{
        width: 200px;
        height: 200px;
    }

    .asking{
        font-size: 18px;
    }

    .button-answer{
        font-size: 14px;
    }
}

@media screen and (max-width:425px){
    body{
        background-image: url("../asset/img/bg-425.png");
        background-size: 100%;
        background-repeat: repeat;
        height: 100%;
    }

    .form-login{
        width: 200px;
    }

    .form-login p{
        font-size: 12px;
    }

    .form-login .form-label{
        font-size: 12px;
    }

    .form-login .form-control{
        font-size: 12px;
    }

    .form-login button{
        font-size: 12px;
    }

    .image-list{
        width: 120px;
        height: 120px;
    }

    .button-navigation{
        margin:0px 30px;
    }

    .image-item{
        width: 200px;
        height: 200px;
        margin: 0px 80px;
    }

    .column-button{
        padding: 20px 50px;
    }

    .button-speed{
        text-align: center;
    }

    .image-question{
        width: 180px;
        height: 180px;
    }

    .soal{
        text-align: center;
    }

    .soal-container{
        margin-top: 0px;
    }

    .button-answer{
        margin: 10px auto;
    }

    .result-score{
        font-size: 12px;
    }
}

@media screen and (max-width:375px){
    .home img{
        width: 300px;
        height: 75px;
    }
    
    .option-menu{
        font-size: 14px;
    }

    .button-navigation{
        margin:0 20px;
    }

    .asking{
        font-size: 14px;
    }
}

@media screen and (max-width:320px){
    .image-item{
        width:150px;
        height:150px;
        margin:0px 60px;
    }

    .column-button{
        padding: 20px 25px;
    }
}