html{
    overflow-x : hidden;
}

body{
    background-image: url("../asset/img/bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

.container{
    height: 100%;
    padding: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login{
    margin: auto auto;
    background-color: white;
    border-radius: 10px;
    width: 500px;
}

.form-login p{
    font-size: 28px;
}

.home{
    background-image: url("../asset/img/bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.list-materi{
    padding: 10px 0px;
    color: white;
}

.item-materi{
    text-align: center;
    padding: 0px 0px;
}

.item-materi a{
    text-decoration: none;
    color: white;
}

.center-component{
    margin: auto auto;
    background-color: white;
    text-align: center;
    padding: 60px 10px;
}

.option-menu{
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    text-decoration: none;
    color: #FFF;
    margin: 10px 0px;
    display: block;
    transition: all .3s;
    font-size: 24px;
    width: 350px;
    text-align: center;
}

.home p{
    font-size: 20px;
    color: #F0ECE3;
}

.form-login p{
    text-align: center;
}

.form-login button{
    justify-content: center;
}

.home img{
    width: 500px;
    height: 150px;
}

.component-login{
    border: 1px solid black;
}


.nilai-skor{
    font-size: 36px;
}

#belajar{
    background-color: #FABC0B;
    border: 1px solid #FABC0B;
}

#belajar:hover{
    background-color: #C8940A;
    color: #9C978B;
}

#mulai{
    background-color: #465A8F;
    border: 1px solid #465A8F;
}

#mulai:hover{
    background-color: #36436A;
    color: #9C978B;
}

#lihat-skor{
    background-color: #29BBFE;
    border: 1px solid #29BBFE;
}

#lihat-skor:hover{
    background-color: #49ADB2;
    color: #9C978B;
}

#keluar{
    background-color: #D32112;
    border: 1px solid #D32112;
}

#keluar:hover{
    background-color: #BB1A04;
    color: #9C978B;
}

.image-list{
    width: 150px;
    height: 150px;
}

.image-item{
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.item-page{
    margin: 80px 20px;
}

.description{
    font-size: 32px;
}

.image-question{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    display: block;
}

.button-answer{
    display: block;
    margin: 10px 10px;
    width: 220px;
    border-radius: 10px;
    background-color: #287EAF;
    border:5px solid #57C0EB;
    transition : all .3s;
    color: white;
}

.button-answer:focus{
    outline: 0;
    border: 5px solid #57C0EB;
  }

.button-answer:hover{
    background-color: #41B2A6;
}

.soal-container{
    margin-top: 150px;
}

.result-score{
    font-size: 28px;
    color: white;
}

.button-navigation{
    margin:0px 80px;
    text-decoration: none;
    color: #F3F9F7;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 10px;
    transition: all .3s;
}

#try-quiz{
    background-color: #0EA2FC;
    border: 1px solid #0EA2FC;
}

#try-quiz:hover{
    background-color: #1E8DAD;
    border: 1px solid #1E8DAD;
    color: #CCD1D2;
}

#back-menu{
    background-color: #F3B205;
    border: 1px solid #F3B205;
}

#back-menu:hover{
    background-color: #D39510;
    border: 1px solid #D39510;
    color: #CCD1D2;
}

.speaker-icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.stop-icon{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.column-button{
    display: flex;
    justify-content: center;
    padding:50px 50px;
}

.pagination{
    margin: 20px 0px;
}

.list-pagination{
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #E5E8EA;
    transition: all .3s;
}

.list-pagination:hover{
    color: #505658;
    background-color: #E5E8EA;
}

.item-per-page{
    text-align: center;
}

@media screen and (max-width:1024px){
    .form-login{
        width: 350px;
    }

    .form-login p{
        font-size: 22px;
    }
}